

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: var(--text-dark);
    text-transform: uppercase;
    font-family: var(--heading-font);
    margin-bottom: 1.5rem;
}

h1, .h1 {
    font-size: 3.2rem;
    letter-spacing: 3px;
    font-weight: 300;
    line-height: 1.2;
}
h2, .h2 {
    font-size: 2.6rem;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.3;
}
h3, .h3 {
    font-size: 2.2rem;
}
h4, .h4 {
    font-size: 2rem;
}

.special {
    color: var(--main-color);
}