.box {

    padding: 1.5rem;
    background-color: var(--secondary-bg);
    text-align: center;
    border-radius: var(--half-rounded);

    &__img {
        max-height: 12rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.5rem;
    }
}