%btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: var(--secondary-bg);
    cursor: pointer;
    color:var(--text-dark);
    text-align: center;
    padding:1rem 3rem;
    transition: background-color var(--transition), color var(--transition);
    text-transform: uppercase;
    
}

.btn {
    &--default {
        @extend %btn;
        &:hover {
            background-color: var(--main-color);
            color: var(--white);
        }
    }

    &--special {
        @extend %btn;
        background-color: var(--main-color);
        color: var(--white);
        transition: opacity var(--transition);

        &:hover {
            opacity: .8;
        }
    }
}